.material-section {
    padding: 5rem 0;
    .cards {
        overflow-x: auto;
        .card {
            margin: 5px;
            flex-shrink: 0;
            max-width: 300px;
            border:none;
            border-radius: unset;
            box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
        }
    }
    
}