.projects-section {
  padding: 10rem 0;
  .featured-text {
    padding: 2rem;
    text-align: center;
    @media (min-width: 992px) {
      padding: 0 0 0 2rem;
      border-left: 0.5rem solid $primary;
    }
  }
  .project-text {
    padding: 3rem;
    @media (min-width: 992px) {
      hr {
        border-color: $primary;
        border-width: .25rem;
        width: 30%;
      }
    }
  }
  .servico {
    font: 1.5rem;
    img {
      filter: grayscale(100%);
    }
    &:active,
    &:hover {
      h4 {
        color: $primary !important;
      }
      img {
        filter: grayscale(50%);
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .projects-section {
    .featured-text {
      text-align: justify;
    }
  }
  .servico {
    img {
      object-fit: cover;
      height: 566px;
    }
  }
}
@media(min-width: 992px) {
  .projects-section {
    .featured-text {
      text-align: justify;
    }
  }
  .sobre {
    img {
      object-fit: cover;
      height: 400px;
    }
  }
  .servico {
    overflow: hidden;
    max-height: 500px;
      img {
        object-fit: cover;
        height: 100%;
      }
  }
}